.row
  .col-md-12
    %center
      .head
        %h4
          %strong= question.title
.row
  .jumbotron
    = simple_format question.introduction
  %center
    %h1.jumbotron
      = question.content

- if question.try(:external_image_url).present?
  .row
    .jumbotron
      %center
        = image_tag question.external_image_url if question.try(:external_image_url)
