- if question.present?
  %strong= question.title

  %center
    = simple_format question.introduction
  %center
    = simple_format question.content

  - if question.try(:external_image_url).present?
    %center
      = image_tag question.external_image_url if question.try(:external_image_url)
