%center
  .head
    %h4
      %strong= resource.title
    %h1.jumbotron
      = resource.content

    %p
      %h4
        %italic
          #answer{ style: "display: none;" }
            = resource.answer

    %button.btn.btn-large.btn-danger#clicker
      Antwort


  = link_to 'zurück zum Fragenkatalog', questions_path, class: 'btn btn-primary'

:javascript
  var answer  = document.getElementById("answer");
  var clicker = document.getElementById("clicker");

  clicker.addEventListener('click', function() {
    answer.style = "display: block;"
  });
