%center
  .head
    %h1
      %strong Teams

  .nav-link
    = link_to new_team_path do
      %i.glyphicon.glyphicon-plus
      Team eintragen
  %table
    %tr.table-head
      %th.name Name
      %th Gesamtscore
      %th ... im letzten Spiel
      %th Durchschnitt
      %th
    - collection.each do |team|
      %tr
        %td
          %h4= team.title
        %td
          42
        %td
          3.14159
        %td
          2.7828
        %td
          = link_to team, method: :delete do
            %i.glyphicon.glyphicon-trash

  = link_to 'zurück',games_path, class: 'btn btn-primary'
