.row
  .col-md-12
    %h1
      %strong
        %i.glyphicon.glyphicon-user
        Neues Team

  = simple_form_for resource do |f|
    .col-md-6
      = f.text_field :title, class: 'form-control', label: 'Name'
    .col-md-12
      = f.submit 'Speichern', class: 'btn btn-success'
      = link_to 'zurück', teams_path, class: 'btn btn-primary'
