<div class='col-md-12'>
  <h2>Sorry, Dude.</h2>
  Momentan sind keine Registrierungen möglich. Wende dich
  an <a href='mailto:neumanrq@gmail.com'>rbn</a>, wenn
  Du gerne Zugang zur Kneipenquiz-App haben möchtest.
</div>
