%center
  %h1 Kneipenquiz
  %ul.list-unstyled
    %li
      %h2
        = link_to '' do
          %i.glyphicon.glyphicon-play
          Start
    %li
      %h2
        = link_to '' do
          %i.glyphicon.glyphicon-user
          Teams
    %li
      %h2
        = link_to '' do
          %i.glyphicon.glyphicon-question-sign
          Fragenkatalog
