%center
  .head
    %h1
      %strong Spiel vorbereiten


%p
  Ein Spiel besteht aus 4 Runden mit je 8 Fragen. Für das Zwischenspiel kannst Du Instruktionen
  eintragen, die dann angezeigt werden

%ul.unstyled
  %li
    %h2 Runde 1
  %li
    %h2 Runde 2
  %li
    %h2 Zwischenspiel
  %li
    %h2 Runde 3
  %li
    %h2 Runde 4
