%center
  .head
    %h1
      %strong Spiel vorbereiten

= simple_form_for resource, { id: 'games_form'} do |f|
  = render 'form' , { f:f }
  %center.col-md-12
    = link_to 'zurück zum Haupmenü', games_path, class: 'btn btn-warning'
    = f.submit 'Speichern', class: 'btn btn-success'
