%div
  .head
    %h1
      %strong Kneipenquiz

  .list
    %ul.nav.nav-pills.nav-stacked
      %li
        %h2
          = link_to '' do
            %i.glyphicon.glyphicon-play
            Go for it!
      %li
        %h2
          = link_to teams_path do
            %i.glyphicon.glyphicon-user
            Teams
      %li
        %h2
          = link_to questions_path do
            %i.glyphicon.glyphicon-question-sign
            Fragenkatalog
      %li
        %h2
          = link_to questions_path do
            %i.glyphicon.glyphicon-wrench
            Spiel vorbereiten
