.row
  .col-md-12
    %h6
      %strong
        Titel:
    %h4
      = resource.title
.row
  .col-md-12
    %h6
      %strong
        Geplantes Datum:
    %h4
      = resource.expected_date.strftime('%d.%m.%Y')

.row
  .very-large-button
    %button.btn.btn-large.btn-success#fscr-button
      %i.glyphicon.glyphicon-play
      Start

#fscr-area{ style: 'display: none;' }
  .row#current_slide
    = render 'presentation/title_page', resource: resource

:javascript
  var fh = FullscreenHandler.init();
