.row
  .col-md-12
    %h4
      %strong
        Titel
      = resource.title
.row
  .col-md-12
    %h4
      %strong
        Datum
      = resource.expected_date

.row
  .very-large-button
    %button.btn.btn-large.btn-success#fscr-button
      %i.glyphicon.glyphicon-play
      Start

.row
  #fscr-area{ style: 'display: none;' }
    .slide
:javascript
  var fh = FullscreenHandler.init();
