development:
  adapter: postgresql
  encoding: unicode
  database: kneipenquiz_development
  pool: 5
  username: your_username
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: kneipenquiz_test
  pool: 5
  username: your_username
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: kneipenquiz_production
  pool: 5
  username: your_username
  password:
