.categories
  width: 200px
.tag-label
  margin: 2px
  border-radius: 10px
  background-color: #AC58FA
h5
  font-size: 18px

.alert
  color: red
  font-weight: bold

.notice
  color: green
  font-weight: bold

.game
  border: 4px solid #ccc
  border-radius: 10px
  padding: 15px

a:hover
  text-decoration: none

.head
  text-align: center
  width: 580px
  margin: auto
  padding-bottom: 10px

.container
  padding: 20px

.margin-top
  margin-top: 10px

.margin-bottom
  margin-bottom: 10px

.footer
  width: 100%
  margin: auto
  padding: 20px
  border-top: 1px solid #dcdcdc

.nav-link
  margin: 10px

.list-menu
  width: 280px
  margin: auto

.list
  width: 480px
  margin: auto

.table
  margin-top: 20px
