a:hover
  text-decoration: none

.head
  padding-bottom: 10px
.container
  padding: 20px
.footer
  margin-top: 20px
  padding: 20px
  border-top: 1px solid #dcdcdc

.nav-link
  margin: 10px
th
  width: 180px
  margin: 10px
