%center
  %h1
    %strong
      Zimt&Zunder-Kneipenquiz

.public-container
  %p
    %center
      %strong
        Das offizielle Motto des nächsten ZuZKK:
    %center
      %h2
        %strong
          ???
  %h4
    %strong Wann?
  %p
    Das Kneipenquiz findet in der Regel am ersten Montag eines jeden Monats statt.
  %h4
    %strong
      Die Regeln
  %ul.list.list-unstyled
    %li * Es gibt 4 Spielrunden mit jeweils 8 Fragen
    %li * Euer Team besteht aus maximal 6 Spielern
    %li * Wer zwischendurch googelt risikiert schlechtes Karma!

.footer
  %center
    %strong feel free to contribute
    = link_to 'on github', 'http://github.com/neumanrq/kneipenquiz'
  %center
    © rbn | 2014

