.row
  .col-md-12
    .col-md-6.col-centered
    %h1
      %strong
        Reglement

.row
  .col-md-12
    %ul.list
      %li
        %h3 max. 6 Spieler pro Team
      %li
        %h3
          4 Blöcke zu je 8 Fragen mit max. erreichbaren 9 Punkten pro Block
      %li
        %h3
          Jokerblock bringt doppelte Punktzahl
      %li
        %h3
          Jackpot füllt sich wie gehabt
      %li
        %h3
          Beschiss wird bestraft
      %li
        %h3
          Das Komitee hat immer Recht!
